# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Playwright downloads (browsers)
.playwright/

# Test results / logs
*.log
html-report/
test-results/

# VS Code settings (optional)
.vscode/

# Allure reports
reports/allure-results/
reports/allure-report/

# Environment variables (overridden by CI/CD)
.env
